body {
  background-color: #E6EAE7;
}
h1 , h2 , h3 , li , button  {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  margin: 20px;
}

input {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 1px;
  box-sizing: border-box;
  font-size: 1em;
  padding: .6em;

}

button {
  height: 35px;
  border-radius: 40px;
  border: none;
  background-color: #5AC1DC;
}

.wrap {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px;
}

.add-meal-box {
  margin: 20px;
  box-shadow: .25px .25px 2px #333;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 1.3em;
  padding: 1.5em;
}

.meal-title-box {
  display: inline-flex;
  flex-direction: row;
}

.ing-cont {
  display: inline-flex;
  flex-direction: column;
  margin: 0px;
  padding: 20px;
}


.ingredient-wrap , .needed-wrap , .onHand-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

button.add-ingredients {
  width: 35px;
  margin: 5px;
  color: #FFF;
  background-color: #0DAD3B;
}
