h1 , h2 , h3 , li , button  {
  font-family: 'Noto Sans', sans-serif;
}

input {
  height: 35px;
  border-radius: 5px;
  font-size: 20px;
}

button {
  height: 35px;
  border-radius: 40px;
  border: none;
  background-color: lightgreen;

}

.wrap {
  height: 100%;
  justify-content: center;
}

.ing-cont {
  display: flex;
  flex-direction: row;
}

.add-meal-box {
  background-color: lightgray;
  border-radius: 5px;
}

.meal-title-box {
  display: flex;
  flex-direction: row;
}
